:root {
    --hc-font: white;
    --hc-background0: rgb(0, 0, 0);
    --hc-background1: rgb(10, 10, 10);
    --hc-background2: rgb(20, 20, 20);
    --hc-background3: rgb(30, 30, 30);
    --hc-background-grey: rgb(103, 103, 103);
}


/* Global */
a {color: inherit; text-decoration: none;}
body, p, h5 {margin: 0; padding: 0;}

aside, section {
    height: 1000px;
}
/* Global */


body {
    background-color: var(--hc-background1);
    color: var(--hc-font);
}

.main_container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

aside {
    background-color: var(--hc-background2);
    display: flex;
    flex-direction: column;
}

.lab_banner {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lab_banner_image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    padding: 30px;
    box-sizing: border-box;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 10px;
}

.search_bar {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 10px;
}

.category {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 10px;
    row-gap: 10px;
}

section {
    background-color: var(--hc-background3);
    padding: 20px 0 0 20px;
}

article {
    display: grid;
    grid-template-columns: 1fr auto;
}

.post {
    display: flex;
    flex-direction: column;
}

.post_title {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    background-color: var(--hc-background-grey);
}

.post_content {
    padding-top: 10px;
    padding-left: 10px;
}

.sidebar {
    width: 200px;

}

.participants {
    margin-top: 10px;
    margin-left: 10px;
}

.preview_title {
    font-size: 1.5rem;
    background-color: var(--hc-background-grey);
    overflow: hidden;
    padding: 3px;
}