{% extends 'main.html' %}

{% block content %}
<div class="post">

    <div class="post_title">
        {% include 'app1/title_component.html' %}
    </div>

    <div class="post_content">
        {% for post in posts %}
            <div>
                <div><a href="{% url 'post' post.id %}"><span class="preview_title">{{post.name}}</span></a></div>
                <div class="preview_host">@{{post.host.username}}</div>
                <div class="preview_category">{{post.topic.name}}</div>
                {% if request.user == post.host %}
                    <a href="{% url 'update-post' post.id %}">Edit</a>
                    <a href="{% url 'delete-post' post.id %}">Delete</a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}