<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='static/css/style.css'>
    <title>HAKSEON LAB</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        {% include 'aside.html' %}
        <div>
            {% for text in profile %}
                <div>
                    <h5>{{profile.name}}</h5>
                </div>
            {% endfor %}
        </div>
    </div>

    {% block content %}

    {% endblock content %}
</body>
</html>